*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
	 background-image: url("./images/jumpman.gif");
 	 background-color: #FFFFFF;

}
footer{
	padding: 0.7rem;
}

footer span{
	margin-left:0.5 rem;
	margin-right: 0.5rem;
}

.card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: 2px solid red;

}